body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  background: url(header.jpg) no-repeat center center fixed;

   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{

  color:#e2dbdb;
  /*text-transform: uppercase;*/
}


.btn-xl{


  padding: 1rem 1rem;
}

.btn{

  border-radius:100px;
  font-weight:700;
}

.btn-danger{

  background-color:#F05F44;

  border-color: #F05F44;
}

.btn-danger:hover{

    background-color:#ee4b08;

    border-color:#ee4b08;

    border-width:4px;


}

hr{


  max-width: 65px;
  border: 2px solid #f05f44;
  margin: 0 auto;


}

.buffer{

  height: 9rem;
}

.buffer2{

  height:0.6rem;
}

